In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [ ]:

# Read the CSV file
df = pd.read_csv(r"C:\Users\hp\Desktop\LEARNING\COLLEGE WORK\DS\Book1.csv")  # Replace with your actual file path

# Display the first few rows
print(df.head())

  Name Gender  Maths_score  Reading_score  Writing_Score  Placement_Score  \
0  ABC      M         61.0           76.0             72               75
1  ABD      F         73.0           80.0             67               79
2  ABE      M         80.0           83.0             65               82
3  ABR      F         67.0           81.0             60               90
4  BCA      F          NaN           83.0             80               75

   Club_Join_Date  Placement_offer_Count
0            2018                      1
1            2021                      1
2            2019                      2
3            2021                      3
4            2021                      1

In [31]:
missing_values = df.isnull()
print(missing_values)

     Name  Gender  Maths_score  Reading_score  Writing_Score  Placement_Score  \
0   False   False        False          False          False            False
1   False   False        False          False          False            False
2   False   False        False          False          False            False
3   False   False        False          False          False            False
4   False   False         True          False          False            False
5   False   False        False          False          False            False
6   False   False        False           True          False            False
7   False   False        False          False          False            False
8   False   False        False          False          False            False
9   False   False        False          False          False            False
10  False   False        False          False          False            False
11  False   False        False          False          False            False
12  False   False        False          False          False            False
13  False   False        False          False          False            False
14  False   False        False          False          False            False
15  False   False        False          False          False            False
16  False   False        False          False          False            False
17  False   False        False          False          False            False
18  False   False        False          False          False            False
19  False   False        False          False          False            False
20  False   False        False          False          False            False
21  False   False        False          False          False            False
22  False   False        False          False          False            False
23  False   False        False          False          False            False
24  False   False        False          False          False            False
25  False   False        False          False          False            False
26  False   False        False          False          False            False
27  False   False        False          False          False            False
28  False   False        False          False          False            False
29  False   False        False          False          False            False

    Club_Join_Date  Placement_offer_Count
0            False                  False
1            False                  False
2            False                  False
3            False                  False
4            False                  False
5            False                  False
6            False                  False
7            False                  False
8            False                  False
9            False                  False
10           False                  False
11           False                  False
12           False                  False
13           False                  False
14           False                  False
15           False                  False
16           False                  False
17           False                  False
18           False                  False
19           False                  False
20           False                  False
21           False                  False
22           False                  False
23           False                  False
24           False                  False
25           False                  False
26           False                  False
27           False                  False
28           False                  False
29           False                  False

In [32]:
name = df.notnull()
print(name)
le =LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
print(df.head())

    Name  Gender  Maths_score  Reading_score  Writing_Score  Placement_Score  \
0   True    True         True           True           True             True
1   True    True         True           True           True             True
2   True    True         True           True           True             True
3   True    True         True           True           True             True
4   True    True        False           True           True             True
5   True    True         True           True           True             True
6   True    True         True          False           True             True
7   True    True         True           True           True             True
8   True    True         True           True           True             True
9   True    True         True           True           True             True
10  True    True         True           True           True             True
11  True    True         True           True           True             True
12  True    True         True           True           True             True
13  True    True         True           True           True             True
14  True    True         True           True           True             True
15  True    True         True           True           True             True
16  True    True         True           True           True             True
17  True    True         True           True           True             True
18  True    True         True           True           True             True
19  True    True         True           True           True             True
20  True    True         True           True           True             True
21  True    True         True           True           True             True
22  True    True         True           True           True             True
23  True    True         True           True           True             True
24  True    True         True           True           True             True
25  True    True         True           True           True             True
26  True    True         True           True           True             True
27  True    True         True           True           True             True
28  True    True         True           True           True             True
29  True    True         True           True           True             True

    Club_Join_Date  Placement_offer_Count
0             True                   True
1             True                   True
2             True                   True
3             True                   True
4             True                   True
5             True                   True
6             True                   True
7             True                   True
8             True                   True
9             True                   True
10            True                   True
11            True                   True
12            True                   True
13            True                   True
14            True                   True
15            True                   True
16            True                   True
17            True                   True
18            True                   True
19            True                   True
20            True                   True
21            True                   True
22            True                   True
23            True                   True
24            True                   True
25            True                   True
26            True                   True
27            True                   True
28            True                   True
29            True                   True
  Name  Gender  Maths_score  Reading_score  Writing_Score  Placement_Score  \
0  ABC       1         61.0           76.0             72               75
1  ABD       0         73.0           80.0             67               79
2  ABE       1         80.0           83.0             65               82
3  ABR       0         67.0           81.0             60               90
4  BCA       0          NaN           83.0             80               75

   Club_Join_Date  Placement_offer_Count
0            2018                      1
1            2021                      1
2            2019                      2
3            2021                      3
4            2021                      1

In [ ]:
print(df.isnull().sum()) 
df.fillna("Unknown", inplace=True)  # For categorical data
# Fill categorical columns with "Unknown"
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna("Unknown")

# Fill numerical columns with 0
numerical_cols = df.select_dtypes(include=['number']).columns
df[numerical_cols] = df[numerical_cols].fillna(0)